@model IEnumerable<SinemaskopApp.Models.Movie>

@{
    var last = Model.Last();
    foreach (var item in Model)
    {
        <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>@if (item.Equals(last) == false)
        {<span>, </span>};
}
}