@model SinemaskopApp.Models.Person

@{
    ViewData["Title"] = "Details";
}



<div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr />

    <div class="row">
        <div class="col-lg-3">
            <div><img src="@Url.Content("https://www.themoviedb.org/t/p/w300_and_h450_bestv2" + Model.PicturePath)" style="display: block"/></div>
        </div>
        <div class="col-lg-9" style="padding-left: 60px">
            <dl>
                <dt>Biography</dt>
                <dd><p>@Model.Biography</p></dd>
            </dl>
        </div>
    </div>

    




    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-12"><h4>Movies Acted</h4></div>
            <div class="row col-lg-12">@await Component.InvokeAsync("MovieOnPersonAct", new { person = Model.Key })</div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12"><h4>Movies Directed</h4></div>
            <div class="row col-lg-12">@await Component.InvokeAsync("MovieOnPersonDir", new { person = Model.Key })</div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
